.message-us {
  padding-left: 300px;
  padding-right: 300px;
  background-color: white;
}
@media (min-width: 390px) {
  .message-us {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .message-us {
    padding-left: 300px;
    padding-right: 300px;
  }
}
.message-us .container-message-us {
  padding-top: 150px;
  background-color: #F0EFE9;
  text-align: center;
}
@media (min-width: 390px) {
  .message-us .container-message-us {
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .message-us .container-message-us {
    padding-top: 150px;
  }
}
.message-us .container-message-us h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (min-width: 390px) {
  .message-us .container-message-us h1 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .message-us .container-message-us h1 {
    font-size: 45px;
  }
}
.message-us .container-message-us .form {
  padding-top: 30px;
  padding-bottom: 100px;
}
.message-us .container-message-us .form .input-field {
  margin-top: 20px;
}
.message-us .container-message-us .form .input-field .name-input {
  width: 1000px;
  height: 55px;
  border: none;
  border-radius: 30px;
  padding-left: 40px;
}
@media (min-width: 390px) {
  .message-us .container-message-us .form .input-field .name-input {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .message-us .container-message-us .form .input-field .name-input {
    width: 1000px;
  }
}
.message-us .container-message-us .form .input-field .mail-input {
  width: 1000px;
  height: 55px;
  border: none;
  border-radius: 30px;
  padding-left: 40px;
}
@media (min-width: 390px) {
  .message-us .container-message-us .form .input-field .mail-input {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .message-us .container-message-us .form .input-field .mail-input {
    width: 1000px;
  }
}
.message-us .container-message-us .form .input-field .message-input {
  width: 1000px;
  padding-bottom: 160px;
  border: none;
  border-radius: 30px;
  padding-left: 40px;
  padding-top: 20px;
}
@media (min-width: 390px) {
  .message-us .container-message-us .form .input-field .message-input {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .message-us .container-message-us .form .input-field .message-input {
    width: 1000px;
  }
}
.message-us .container-message-us .form .input-field .message-input::-moz-placeholder {
  top: 20px;
  position: absolute;
}
.message-us .container-message-us .form .input-field .message-input::placeholder {
  top: 20px;
  position: absolute;
}
.message-us .container-message-us .form .btn-send-message {
  margin-top: 50px;
  padding: 12px 22px;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 30px;
  width: 1000px;
  color: #191919;
}
@media (min-width: 390px) {
  .message-us .container-message-us .form .btn-send-message {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .message-us .container-message-us .form .btn-send-message {
    width: 1000px;
  }
}
.message-us .container-message-us .form .btn-send-message i {
  margin-left: 10px;
}
.message-us .container-message-us .form .btn-send-message:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: white;
  transition: 0.3s;
}